.card {
  border: 1px solid #1100ff;
  border-radius: 5px;
  padding: 16px;
  margin: 16px;
  width: 250px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 5px #1100ff;
}
.images {
  width: 100%;
  height: 250px;
  border: 2px solid rgb(0, 179, 255);
}
.name {
  font-size: 1.2em;
  margin: 10px 0;
  text-align: center;
}
.price {
  font-weight:bold; 
  font-size: 20px;
  color: #000000;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.centertitle{
  text-align: center;
}
body{
  background-color: rgb(0, 255, 106);
}